* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#navbox {
  position: relative;
  padding: 15px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Logo img {
  width: 200px;
  height: 120px;
  position: relative;
  left: 80px;
}

#navinfo {
  display: flex;
  gap: 30px;
}

#navinfo a {
  font-family: sans-serif;
  font-size: 23px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  display: flex;
  position: relative;
  right: 80px;
  color: black;
  font-weight: bold;
}

#navinfo a:hover {
  background-color: white;
  border-bottom: 3px solid orange;
}

#navuses {
  display: flex;
  gap: 30px;
}

#navuses img {
  position: relative;
  right: 30px;
}

#navuses #search {
  width: 50px;
  height: 50px;
}

#navuses #account {
  width: 70px;
  height: 70px;
  position: relative;
  bottom: 10px;
}

#image1 #image-swap {
  width: 600px;
  height: 550px;
  object-fit: cover;
  position: relative;
  float: right;
  right: 100px;
  border-radius: 50%;
}

#description #heading {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 280px;
  left: 170px;
}

.orange-text {
  color: orange;
}

#description #info {
  font-size: 20px;
  position: absolute;
  top: 26vw;
  right: 40vw;
  margin-left: 173px;
  margin-right: 150px;
}

#line {
  border-bottom: 1px solid black;
  position: relative;
  top: 30vw;
  width: 50vw;
  left: 172px;
}